/*Fuentes*/
@font-face{
    font-family: "fajala";
    src: url(../fonts/fuente.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;

}

*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif, helvetica, Arial;
    text-decoration: none;

}
.clearfix{
    clear: both;
    float:none;
}
body{
    background: url(../images/cubes.png) #f4f4f4;
}

/*Cabecera jamves1973@g*/

#cabecera{
    width: 85%;
    height: auto;
    background: transparent;
    margin: 0px auto;    
}
/*Logotipo*/
#logo{
    float: left;
    width: 540px;
    height: 100px;

}

#logo a{
    font-family: "fajala", helvetica;
    font-size: 40px;
    letter-spacing: 2px;
    color: #2979CD;
    text-shadow: 0px 0px 0px black, 1px 1px 0px black, 2px 2px 0px black;
    transition: all 500ms;
    line-height: 90px;
    margin-left: 10px;

}

#logo a:hover{
    cursor: pointer;
    text-shadow: 0px 0px 0px black, -1px -1px 0px black, -2px -2px 0px black;
}

/*Menu*/
#menu{
    width: 100%;
    height: 45px;
    clear: both;
    background: linear-gradient(to bottom,#f9f9f9 0px,#e9e9e9 100%);
    border: 1px solid #c9c9c9;
    border-radius: 10px;
    box-shadow: 0px 1px 1px #ccc;
    overflow: hidden;
}

#menu ul{
    list-style: none;
}

#menu ul li{
    float: left;
    line-height: 44px;
    border-right: 1px solid #d6d6d6;
}

#menu ul li:hover{
    background: linear-gradient(to bottom,#f2f2f2 0px,#dad9d4 100%);
}

.info{
    color: #838282;
    margin-top: 10px;
    font-size: 14px;
}
#menu ul li a{
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    color: #838282;
}

/*Contenido*/

#contenedor{
    width: 85%;
    height: auto;
    margin: 0px auto; 
    margin-top: 30px;
    margin-bottom:30px; 
}

/*Barra Lateral*/

#sidebar{
    float: right;
    width: 25%;
    height:auto;
}

/*Principal*/

#principal{
    float: left;
    width: 60%;
    min-height: 515px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ccc;
    overflow: hidden;
    margin-left: 20px;
    padding: 25px;
}

#principal h1{
    font-size: 32px;
    margin: 15px;
    font-family: "fajala";
    color: #444;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px #ccc;
}
#principal a{
    color: #333;
}
#principal h2{
    font-size: 20px;
    margin-top: 25px;
    font-family: "fajala";
    color: #2979CD;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px #ccc;
}
#principal p{

    margin-top: 8px; 
}
#ver-todas a{
    display: block;
    border-radius: 3px;
    color: #ffffff;
    background: #2979CD;
    padding: 25px;
    width: 160px;
    margin: 0px auto;
    margin-top: 55px;
    box-shadow: 1px 3px 4px #bbb; 
}
#ver-todas a:hover{
    background: linear-gradient(to bottom,#2D2E9D 0px,#2C7DD2 100%);
}

#principal label {
    margin-top:15px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 25px;
    font-family: "fajala";
    color: #2979CD;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 1px 1px 2px #ccc;
}
#principal textarea{
    height: 150px;
    width: -webkit-fill-available;
    width: -moz-available ;
    margin:auto;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    font-weight: 400; 
    border-radius: 2px;
    border: solid 1px #aaa
}

.centrar{
    text-align: center;
}
#principal input[type="text"] {
    width: -webkit-fill-available;
    width: -moz-available ;
    margin:auto;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
}

#principal input[type="submit"] {
    width: -webkit-fill-available;
    width: -moz-available ;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    margin-top: 15px;
}
#principal input[type="submit"]:hover{
    background: linear-gradient(to bottom,#2D2E9D 0px,#2C7DD2 100%);
}
.select-css {
    display: block;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    color: #444;
    line-height: 1.3;
    padding: .4em 1.4em .3em .8em;
    width: 300px;
    max-width: 100%; 
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
        linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}
.select-css::-ms-expand {
    display: none;
}
.select-css:hover {
    border-color: #888;
}
.select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}
.select-css option {
    font-weight:normal;
}

#sidebar{
    float: right;
    width: 27%;
    min-height: 900px;
}
.alerta{
    padding: 5px;
    font-size: 14px;
    color: white;
    background: green;
    box-shadow: 0px 1px 3px #ccc;

}

.alerta-error{
    background: red;
}

.bloque{
    display: block;
    width: 80%;
    margin: 0px auto;
    margin-bottom: 35px;
    background: white;
    padding: 15px;
    box-shadow: 0px 0px 1px #bbb, 0px 3px 7px #bbb, 0px 0px 2px #fff inset,0px -2px 2px #ccc inset ;
    border-radius: 3px;
}
.bloque h3{
    margin-bottom: 15px;
    color: #2979CD;

}
Label,
input[type="text"],
input[type="email"],
input[type="password"]{

    display:block;
    width:95%;
    margin-top:2px;
    margin-bottom:2px;
}
input[type="text"],
input[type="email"],
input[type="password"]{
    margin-bottom: 10px;
    padding: 5px;
}
input[type="submit"],
input[type="button"],
.boton
{
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
    border-radius: 3px;
    color: #ffffff;
    background: #2979CD;
    padding: 7px;
    margin: 0px auto;   
    box-shadow: 1px 3px 4px #bbb;
    border: 2px solid mediumblue;
}
.boton{
    text-align: center;
    width: 130px;
    margin: 5px auto;    
}

.boton:hover{
    background: linear-gradient(to bottom,#2D2E9D 0px,#02c3ff 100%);
}

.boton-naranja{
    background: orange;
    border: 2px solid coral;
}
.boton-naranja:hover{
    background: linear-gradient(to bottom,#ff2d02 0px,#ffc500  100%);
}

.boton-verde{

    background: #69ca69;
    border: 2px solid green;
}
.boton-verde:hover{
    background: linear-gradient(to bottom,green 0px,#79ff02 100%);
}
.boton-violeta{
    background: violet;
    border: 2px solid blueviolet;

}
.boton-violeta:hover{
    background: linear-gradient(to bottom,blueviolet 0px,#ff62e8 100%);
}

/*PIE DE PAGINA*/

#pie{
    clear: both;
    width: 85%;
    margin: 0px auto;
    background: linear-gradient(to bottom,#f9f9f9 0px,#e9e9e9 100%);
    border: 1px solid #c9c9c9;
    border-bottom: none;
    border-radius: 8px 8px 0px 0px;
    color:  #666;
    height: auto;
    padding:  15px;
    text-align: center;
}


